[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "ST_Anything"]
	path = ST_Anything
	url = ./ST_Anything/
[submodule "libraries/aREST"]
	path = libraries/aREST
	url = https://github.com/marcoschwartz/aREST.git
